body {
    font-family: 'Shadows Into Light', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

nav {
    background-color: #007ACC;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

header {
    text-align: center;
    margin: 2%;
}

header h1 {
    color: blue;
    font-size: 32px;
    margin: 10px 0;

}

#conteudo {
    margin: 20px;
}

h2 {
    color: #007ACC;
}

p {
    font-size: 18px;
}

img {
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #007ACC;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    left: 0;
}